@{
    ViewData["Title"] = "Thank You";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">Thank You For Buying From Our Site,Your order is In processing... </h1>
            </div>
            <div class="col-12">
                <h2 class="display-4 text-center">You Will recive email in Minuts ...</h2>
            </div>
            <div class="col-12 text-center">
                 <a class="btn btn-success" asp-action="Index" asp-controller="Home" asp-area="Customer">Back Home</a>
            </div>
        </div>

    
</div>

